body {
  background-color: blue;
    color: white; 
    font-family: "Roboto", sans-serif;
     display:  flex;
     justify-content: center;
     align-items: center;
     height: 700px;
     margin: 0;
    
}
button{
    background-color: aqua ;
    color:crimson;
    font-family: "Roboto", sans-serif;
}

 .passo{
   display: none;
 }

 .passo.ativo {
   display:block;
 }
  
 main {
  text-align: center;
  max-width: 90%;
}

img {
  max-width: 90%;
}




